.heroSectionBlock {
    overflow: hidden;
}
.hero {
    width: 100%;
    height: calc(100vh - 7rem);
    min-height: 50rem;
    background-color: rgba(0, 0, 0, 0.4); /* Tint color */
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
        h1, h2, p, ul {
            color: #ffffff;
        }
        h1.mobileHeading {
            display: none;
            @media only screen and (max-width: 575.98px) {
                display: block;
                font-size: 12vw;
                margin-bottom: 2rem;
                line-height: 12vw;
            }
            
        }
        h1.mediumHeading {
            display: none;
            @media only screen and (min-width: 575.99px) and (max-width: 991.98px) { 
                display: block;
                font-size: 6.6vw;
                line-height: 6.6vw;
            }
            
        }
        h1 {
            font-size: 7rem;
            margin-top: 0;
            margin-bottom: 2rem;
            letter-spacing: 0.16rem;
            line-height: 7rem;
            
            @media only screen and (max-width: 991.98px) {
                display: none;
            }
        }
        ul {
            margin-left: 0;

            li {
                display: inline-block;

                @media only screen and (max-width: 575.98px) {
                    display: block;
                    padding: 0.6rem 0;
                }
                @media only screen and (min-width: 575.99px) and (max-width: 991.98px) { 
                    display: block;
                    padding: 0.6rem 0;
                }

                &:not(:last-child) {
                    margin-right: 3rem;
                    @media only screen and (max-width: 575.98px) {
                        margin-right: 0;
                    }

                }

                &>div {
                    display: flex;
                    align-items: center;
                }

                a {
                    color: #ffffff;
                }

                svg {
                    fill: #ffffff;
                    width: 1.8rem;
                    height: 1.8rem;
                    margin-right: 0.5rem;
                }
            }
            
        }
        .actionBtn {
            li {
                @media only screen and (min-width: 575.99px) and (max-width: 991.98px) { 
                    display: inline-block;
                }
                button {
                    margin-top: 7.2rem;
                    padding: 0.6rem 1.2rem;
                    border: 1px #ffffff solid;
                    color: #ffffff;
                    padding: 1.5rem 3rem;
                    min-width: 22.7rem;

                    @media only screen and (max-width: 575.98px) {
                        margin-top: 0.8rem;
                    }
                    @media only screen and (min-width: 575.99px) and (max-width: 991.98px) { 
                        margin-top: 0.8rem;
                    }
                    
                }

                &:first-child button {
                    background-color: #ffffff;
                    color: #1a1a1a;
                    @media only screen and (max-width: 575.98px) {
                        margin-top: 3.2rem;
                    }
                    @media only screen and (min-width: 575.99px) and (max-width: 991.98px) { 
                        margin-top: 3.2rem;
                    }
                }
            }
            
        }

        .heroRight {
            text-align: center;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            
            .insideFrame {
                height: 80%;
                display: inline-block;
                border: 0.8rem solid #ffffff;
                padding: 1.6rem;
                


                img {
                    max-width: 100%;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        

}