.hero {
    width: 100%;
    height: calc(100vh - 7rem);
    min-height: 50rem;
    background-color: rgba(0, 0, 0, 0.4); /* Tint color */
    font-size: 1.6rem;
        h1, h2, p, ul {
            color: #ffffff;
        }
        h1 {
            font-size: 7rem;
            margin-top: 0;
            margin-bottom: 2rem;
            letter-spacing: 0.4rem;
            line-height: 8rem;

            // @media (min-width: 1200px) and (max-width: 1399.9px) {
            //     font-size: 6rem;
            // }

            
        }
        ul {
            margin: none;

            li {
                display: inline-block;

                &:not(:last-child) {
                    margin-right: 3rem;
                }

                &>div {
                    display: flex;
                    align-items: center;
                }

                a {
                    color: #ffffff;
                }

                svg {
                    fill: #ffffff;
                    width: 1.8rem;
                    height: 1.8rem;
                    margin-right: 0.5rem;
                }
            }
            
        }
        .actionBtn {
            li {
                button {
                    margin-top: 7.2rem;
                    padding: 0.6rem 1.2rem;
                    border: 1px #ffffff solid;
                    color: #ffffff;
                    padding: 1.5rem 3rem;
                }

                &:first-child button {
                    background-color: #ffffff;
                    color: #1a1a1a;
                }
            }
            
        }

        .heroRight {
            text-align: center;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            
            .insideFrame {
                height: 80%;
                display: inline-block;
                border: 0.8rem solid #ffffff;
                padding: 1.6rem;
                


                img {
                    max-width: 100%;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        

}