.birthdayForm {
    display: flex;

    .twoDigitInput, .fourDigitInput {
        display: flex;
        flex-direction: column;

        & p {
            font-size: 1.4rem;
            margin-bottom: 5px;
        }

        & input {
            text-align: center;
        }
    }
    .twoDigitInput {
        margin-right: 1.6rem;

        & input {
            width: 5.4rem;
        }
    }

    .fourDigitInput {
        margin-right: 1.6rem;

        & input {
            width: 9.2rem;
        }
    }
}