.contactPreference {
    p {
        margin-bottom: 8px;

        span {
            color: red;
            font-weight: 600;
        }
    }

    &>div {
        & div:not(:first-child) {
            label {
                margin-bottom: 0;
            }
        }
        label {
            font-size: 1.6rem;
            border: 1px #aaaaaa solid;
            padding: 6px 1.2rem;
            width: 10rem;
            border-radius: 5px;
            display: inline-block;
            text-align: end;
            position: relative;
            margin-bottom: 8px;
        }

        input {
            margin-right: 10px;
            display: inline-block;
            width: auto;
            height: auto;
            position: absolute;
            left: 10px;
        }
    }
}