.formMessage {
    .errorMessage {
        font-size: 1.5rem;
        font-weight: 400;
        background-color: #FFA4A4;
        color: #5B0000;
        padding: 3rem;
        border-radius: 5px;
        // transition: transform 0.25s ease-in;
        
    }
}