.formMessage {
    .message {
        font-size: 1.5rem;
        font-weight: 400;
        padding: 3rem;
        border-radius: 5px;
    }
    .errorMessage {  
        background-color: #ffccd5;
        color: #800f2f;
    }

    .successMessage {
        background-color: #ECF4F0;
        color: #167835;
    }
}