.formInputText {
    input {
        font-size: 1.6rem;
        display: block;
        height: 4.2rem;
        width: 100%;
        padding: 1rem;
        border: 1px #aaaaaa solid;
        border-radius: 5px;
        color: #606060;
    }   
    p {
        color: red;
        font-size: 1.4rem;

    }
}
