.appointmentMain {

    

    .appointmentContent {
        padding-top: 7rem 0;       

        .introSection {
            background-color: #1D4ED8;
            width: 100%;
            padding: 7rem;

            h1 {
                color: #ffffff;
                font-size: 4.2rem;
            }

            p{
                color: #ffffff;
            }

        }

        .formSection {
            padding: 7rem 0;
        }

        .appointmentSubmit {
            input[type='submit'] {
                cursor: pointer;
                color: #1a1a1a;
                font-size: 1.6rem;
                background-color: white;
                border: 1px solid #1a1a1a;
                border-radius: 5px;
                padding: 1.6rem 3.2rem;
                transition: background-color 0.2s ;

                &:hover {
                    background-color: #1a1a1a;
                    color: white;
                }

            }
        }

        
    }

    @media only screen and (max-width: 575.98px) {
        .appointmentContent {
            .introSection {
                padding: 1.6rem;
                padding-bottom: 4.4rem;
            }

            .formSection {
                padding: 4.2rem 0;
            }
        }

    }

    
}