.OtherComments {
    textarea{
        width: 100%;
        min-height: 20rem;
        color: #606060;
        font-size: 1.6rem;
        padding: 1rem;
        border: 1px solid#aaaaaa;
        border-radius: 5px;

    }
}