.preOpInstructions {
    padding-bottom: 7rem;
    .headlineSection {
        margin-bottom: 3.6rem;
        background-color: #ededed;
        padding: 7rem 0;
        text-align: center;

        h1 {
            font-size: 4.2rem;
            margin-top: 0;
            margin-bottom: 1.6rem;
        }

        h2 {
            font-size: 1.8rem;
            background-color: #ffccd5;
            padding: 1.2rem 1.6rem;
            border-radius: 5px;
            color: #800f2f;
            display: inline-block;
        }
        
    }

    section {
        &:not(:last-child) {
            padding-bottom: 1.6rem;
            margin-bottom: 2.4rem;
            border-bottom: 1px #e9ecef solid;
        }
        h2 {
            margin-bottom: 1.6rem;
        }
        p {
            font-size: 1.6rem;
            font-weight: 400;

            .redFont {
                color: red;
                font-weight: 500;
            }

        }
    }

    @media only screen and (max-width: 575.98px) {
        .headlineSection {
            padding: 3.2rem 0;
            h1 {
                font-size: 3rem;
            }
            h2 {
                font-size: 1.8rem;
                background-color: #ffccd5;
                padding: 1.2rem;
                border-radius: 5px;
                color: #800f2f;
            }
            
        }
        

    }
    
}