.preOpInstructions {
    padding-bottom: 7rem;
    .headlineSection {
        margin-bottom: 3.6rem;
        background-color: #1a1a1a;
        padding: 7rem 0;
        text-align: center;

        h1 {
            font-size: 4.2rem;
            margin-top: 0;
            margin-bottom: 1.6rem;
            color: #ffffff;
        }
        
    }

    section {
        &:not(:last-child) {
            padding-bottom: 1.6rem;
            margin-bottom: 2.4rem;
            border-bottom: 1px #9ab5ff solid ;
        }
        h2 {
            margin-bottom: 1.6rem;
        }
        p {
            font-size: 1.6rem;
            font-weight: 400;

            .redFont {
                color: red;
                font-weight: 500;
            }

        }
    }

    @media only screen and (max-width: 575.98px) {
        .headlineSection {
            padding: 3.2rem 0;
            h1 {
                font-size: 3rem;
                margin-bottom: 0;
            }
            
        }
        
    }
    
}