@import './variables';
html {
    font-size: 10px;
}


* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.no-scroll { overflow: hidden; }
p, ul, ol, span {
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: #6c757d;
    font-weight: 400;
}
ul {
    margin-left: 3.2rem;
}
h1, h2, h3, h4, h5 {
    color: #1a1a1a;
}
p {
    &:not(:first-child) {
        margin-top: 1.6rem;
    }
}

h1{
    font-size: 3.2rem;
}

h2 {
    font-size: 2.4rem;
    margin-bottom: 1.6rem;
    font-weight: 600;
}

a{
    color: #1D4ED8
}

button {
    background: none;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;

    &.blueButton {
        background: #1D4ED8;
        padding: 1.2rem 1.6rem;
        color: #ffffff;
        transition: background 0.15s linear;

        &:hover {
            background: #1841b2;
        }
    }
}

.pageContainer {
    min-height: 100vh;
    padding-top: 70px;
    padding-bottom: 29rem;
    position: relative;
    flex-direction: column;

    @media only screen and (max-width: 767.98px) {
        padding-bottom: 65rem;
      }
      @media only screen and (min-width: 767.99px) and (max-width: 1199.98px) {
        padding-bottom: 42rem;
        
      }
}

// FORM components
p.error-text {
    margin-top: 0;
    color: red;
    font-size: 1.4rem;
}

label {
    color: #1a1a1a;
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 8px;
    display: inline-block;
    line-height: 2.6rem;
}

input[type='text'] {
    font-size: 1.6rem;
    display: block;
    height: 4.2rem;
    width: 100%;
    padding: 1rem;
    border: 1px #aaaaaa solid;
    border-radius: 5px;
    color: #606060;
} 