.formSelectList {
    ul {  
        li {
            padding: 2px;            

            label {
                display: flex;
                align-items: center;
                color: #6c757d;
                cursor: pointer;

                input {
                    display: inline-block;
                    margin-right: 6px;
                }
            }
        }
    }
}