.radiographsWrap {
    ul {

        li {
            padding: 8px;

            label {
                display: flex;
                align-items: center;
                cursor: pointer;
                margin-bottom: 0;

                input {
                    display: inline-block;
                    margin-right: 6px;
                }
            }
            input[type='file'] {
                margin-top: 4px;
                display: none;
            }
        }
    }
}   