.rdForm {
    padding: 7rem 0;
    .referralSubmit {
        input[type='submit'] {
            margin-top: 3rem;
            cursor: pointer;
            font-size: 1.6rem;
            background-color: white;
            border: 1px solid #1a1a1a;
            border-radius: 5px;
            padding: 1.6rem 3.2rem;
            transition: background-color 0.2s ;

            &:hover {
                background-color: #1a1a1a;
                color: white;
            }

        }
    }
    ul {
        margin-left: 0;
        list-style-type: none;
    }

    h2 {
        margin-bottom: 0;
    }
}
