.rdForm {
    padding-top: 4.2rem;
    padding-bottom: 7rem;
    .submitWrapper {
        display: inline-block;
    }
    .referralSubmit {
        position: relative;
        display: flex;
        align-items: center;

        svg {
            position: absolute;
            display: none;
            right: -4.2rem;
            animation: spin 2s linear 0s infinite normal;
        }

        input[type='submit'] {
            cursor: pointer;
            color: #1a1a1a;
            font-size: 1.6rem;
            background-color: white;
            border: 1px solid #1a1a1a;
            border-radius: 5px;
            padding: 1.6rem 3.2rem;
            transition: background-color 0.2s ;

            &:hover {
                background-color: #1a1a1a;
                color: white;
            }

        }
    }
    ul {
        margin-left: 0;
        list-style-type: none;
    }

    h2 {
        margin-bottom: 0;
    }

    @media only screen and (max-width: 575.98px) {
        padding-bottom: 4.2rem;
    }

    .submitSuccess {
        padding: 2.4rem;
        background-color: #ECF4F0;
        color: #167835;
        border-radius: 5px;
        display: inline-block;
    }
    .submitFail {
        padding: 2.4rem;
        background-color: #ffccd5;
        color: #800f2f;
        border-radius: 5px;
    }
}

@keyframes spin {
    from {
      transform: rotate(0deg)
    }
  
    to {
        transform: rotate(360deg )
    }
  }

