.mainContent {
    padding: 7rem 0;

    h2 {
        margin-bottom: 0;
    }
    .sectionTop {
        padding-bottom: 4.2rem;
    }
   
    .colPadded {
        padding-left: 3rem;
        padding-right: 3rem;

        &>div {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            margin-bottom: 1.6rem;

            img {
                margin-right: 1.2rem;
            }
        }
    }
    .colTopMargin {
        margin-top: 4.2rem;
    }

    .bottomSafety{
        padding: 7.6rem;
        margin-top: 10rem;
        background-color: #1d4ed8;
        text-align: center;

        h2 {
            color: #ffffff;
            // margin-bottom: 1.6rem;
        }
        
        p, a {
            color: #c1d2ff;

            a:hover {
                color: #ffffff;
            }
        }
        button {
            background-color: #ffffff;
            color: #1d4ed8;
            font-size: 1.6rem;
            padding: 1.5rem 3rem;
            margin-top: 4.8rem;
        }
    }

    @media only screen and (max-width: 767.98px) {
        padding: 4.2rem 0;

        .mMarginTop {
            margin-top: 4.2rem;
        }

        .bottomSafety {
            margin-top: 4.2rem;
            padding: 3rem;
        }
    }
}