.tableOfContents {
    position: sticky;
    top: 14rem;
    
    
    ul {
        list-style-type: none;
        color: #1d4ed8;
        margin-left: 0;

        li:not(:last-child) {
            margin-bottom: 2.6rem;
        }
    }

    @media only screen and (max-width: 767.98px) {
        display: none;
    }
}